<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reddit- the front page of internet</title>
    <link rel="stylesheet" href="../static/css/indexstyle.css" th:href="@{/css/indexstyle.css}">
</head>
<body>
<div id="navbar"> 

    <img id="redditlogo" src="https://redditmedia.s3.ap-south-1.amazonaws.com/NicePng_reddit-png_2342271.png"
         alt="reddit logo">
    <form th:action="@{#}" href="#">
        <input style="height : 40px; font-size : 20px; width : 800px" type="text">
        <button class="btn btn-default" style="height : 40px; font-size : 20px" type="submit">Search</button>
    </form>
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <button th:onclick="window.location='/login'" style="height : 40px; font-size : 20px" class="btn btn-default">
            Login
        </button>
        <button th:onclick="window.location='/register'" style="height : 40px; font-size : 20px"
                class="btn btn-default">Signup
        </button>
    </div>

    <span id="profile" sec:authorize="isAuthenticated()">
                  <a sec:authentication="name">YOU</a>
                  <ul>
                     <li><a th:href="@{/profile}">Profile</a></li>
                     <li><a th:href="@{/logout}">Logout</a></li>
                 </ul>
            </span>

</div>


<div id="post-subreddit">
    <div id="posts" style="width : 68%;">
        <div id="sort-posts" style="font-size:15px;height:auto;">
            <h3 th:text="${subreddit.communityName}"></h3>
            <span th:text="${'r/'+subreddit.communityName}"></span>
            <button>JOIN</button>
        </div>
        <br>


        <div class="subreddit-content" th:each="postItems,iterationStatus :${subreddit.post}">
            <!-- <section id="textpost" th:if="${post.contentType == 'text'}">-->
            <div style="font-size:15px;">

                    <div>
                        <span th:text="${'Posted By u/'+postItems.user.userName}"></span>
                        <span th:text="${subredditTime}"></span>
                        <h3 th:text="${postItems.title}">title</h3>
                        <p th:text="${postItems.content}">content</p>
                    </div>

            </div>
            <!--           </section>-->

        </div>


    </div>

</div>

<div id="subreddits">

</div>

</div>
</body>
</html>