<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<button type="button" onclick="asd('text')" id="textpostform">Text post</button>
<button type="button" onclick="asd('media')" id="mediapostform">Image/Video post</button>
<button type="button" onclick="asd('link')" id="linkpostform">Link post</button>

<form id="textpost" action="post/create" th:action="@{/posts/create}" method="post" th:object="${post}"
      enctype="multipart/form-data">
    <div class="form-group">
        <label>Title:</label>
        <input th:field="*{title}" type="text" class="form-control" name="title" placeholder="title">
    </div>
    <div class="form-group">
        <label>Content:</label>
        <textarea th:field="*{content}" name="content" placeholder="content"></textarea>
    </div>
    <div class="form-group">
        <input type="text" id="textcontent" th:field="${post.contentType}"   hidden></input>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<form id="mediapost" action="post/create" th:action="@{/posts/create}" method="post" th:object="${post}"
      enctype="multipart/form-data">
    <div class="form-group">
        <label>Title:</label>
        <input th:field="*{title}" type="text" class="form-control" name="title" placeholder="title">
    </div>
    <div class="form-group">
        <label>Upload Media:</label>
        <input type="file" name="file" placeholder="upload media">
    </div>
    <div class="form-group">
        <input type="text" id="mediacontent" th:field="${post.contentType}"  hidden></input>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<form id="linkpost" action="post/create" th:action="@{/posts/create}" method="post" th:object="${post}"
      enctype="multipart/form-data">
    <div class="form-group">
        <label>Title:</label>
        <input th:field="*{title}" type="text" class="form-control" name="title" placeholder="title">
    </div>
    <div class="form-group">
        <label>Content:</label>
        <textarea th:field="*{content}" name="content" placeholder="content"></textarea>
    </div>
    <div class="form-group">
        <input type="text" id="linkcontent" th:field="${post.contentType}"  hidden></input>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<script type="text/javascript">

      window.onload = function() {

        document.getElementById("textpost").style.display = "block";
        document.getElementById("mediapost").style.display = "none";
        document.getElementById("linkpost").style.display = "none";

    };

      function asd(a) {

        if (a == "text") {
          document.getElementById("textpost").style.display = "block";
          document.getElementById("mediapost").style.display = "none";
          document.getElementById("linkpost").style.display = "none";

        } else if (a == "media"){
          document.getElementById("textpost").style.display = "none";
          document.getElementById("mediapost").style.display = "block";
          document.getElementById("linkpost").style.display = "none";

        } else if (a == "link"){
          document.getElementById("textpost").style.display = "none";
          document.getElementById("linkpost").style.display = "block";
          document.getElementById("mediapost").style.display = "none";

        }
    }

    document.getElementById("textcontent").value = "text";
    document.getElementById("mediacontent").value = "media";
    document.getElementById("linkcontent").value = "link";

</script>


</body>
</html>
