<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/createpoststyle.css" th:href="@{/css/createpoststyle.css}">

</head>
<body style="background:#DAE0E6;">

    <div id="navbar">

        <img id="redditlogo" src="https://redditmedia.s3.ap-south-1.amazonaws.com/NicePng_reddit-png_2342271.png"
             alt="reddit logo">
        <select id="pagetype" name="page" onchange="location = this.value;">
            <option value="home" selected>Home</option>
             <option value="popular">Popular</option>
            <option value="all">All</option>
            <option value="Communities">Top Communities</option>
            <option value="posts/create">Create Post</option>
        </select>
        <form th:action="@{#}" href="#">
            <input style="height : 30px; font-size : 20px; width : 500px; border-radius : 6px;" type="text">
            <button style="height : 40px; font-size : 20px" type="submit">Search</button>
        </form>
        <div style="margin-right : 100px;">
            <button class="nav-btn">ALL</button>
            <button class="nav-btn">TOP</button>
            <BUTTON class="nav-btn">POP</BUTTON>
            <button class="nav-btn">CP</button>
        </div>
        <span id="profile" sec:authorize="isAuthenticated()" style="margin-right : 90px;">
            <a sec:authentication="name">YOU</a>
                <ul>
                    <li><a th:href="@{/profile?sort=createdat}">Profile</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
        </span>
        <span id="pagetypevar" th:text="${pagetype}" hidden></span>

    </div>
<hr>
<div class="subreddit">
    <div>
        <label for="subreddit">Choose a Subreddit:</label>
        <select name="subredditName" id="subreddit"></select>
    </div>
    <div>
        <form action="/subreddit/create">
            <button class="createSubreddit">Create Subreddit</button>
        </form>
    </div>
</div>

<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'post')">Post</button>
    <button class="tablinks" onclick="openCity(event, 'media')">Image & Video</button>
    <button class="tablinks" onclick="openCity(event, 'link')">Links</button>
</div>

<div id="post" class="tabcontent">

    <form id="textpost" action="post/create" th:action="@{/posts/create}" method="post" th:object="${post}"
          enctype="multipart/form-data">


        <div class="form-group">

            <input th:field="*{title}" type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea th:field="*{content}" name="content" placeholder="content" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <p><input type="text" id="textcontent" th:field="${post.contentType}" hidden></input></p>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>

</div>

<div id="media" class="tabcontent">


    <form id="mediapost" action="post/create" th:action="@{/posts/create}" method="post" th:object="${post}"
          enctype="multipart/form-data">
        <div class="form-group">
            <input th:field="*{title}" type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="form-group" id="mediaFile">
            <input type="file" name="file" placeholder="upload media" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" id="mediacontent" th:field="${post.contentType}" hidden></input>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>

<div id="link" class="tabcontent">

    <form id="linkpost" action="post/create" th:action="@{/posts/create}" method="post" th:object="${post}"
          enctype="multipart/form-data">

        <div class="form-group">
            <input th:field="*{title}" type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input th:field="*{content}" name="content" class="form-control" style="min-height: 60px;"
                   placeholder="Url">
        </div>
        <div class="form-group">
            <input type="text" id="linkcontent" th:field="${post.contentType}" hidden></input>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>

</div>


<script type="text/javascript">

      window.onload = function() {
      openCity(event, 'post');

	$.ajax({
				url : "/subreddit/get",
				type : "get",
				success : function(data) {
                          console.log(data);
                           for(var i=0;i<data.length;i++){
                          console.log(data[i].communityName);
                            $("#subreddit").append("<option value="+data[i].communityName+">r/"+data[i].communityName+"</option>");
                        }
				}

			});
    };





</script>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;

  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";

  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");

  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

document.getElementById("textcontent").value = "text";
document.getElementById("mediacontent").value = "media";
document.getElementById("linkcontent").value = "link";

    var page = document.getElementById("pagetypevar").innerHTML;
    console.log(page);
    switch (page) {
        case "home" :
            document.getElementById('pagetype').selectedIndex=0;
            break;
        case "popular" :
            document.getElementById('pagetype').selectedIndex=1;
            break;
        case "topcommunities" :
            document.getElementById('pagetype').selectedIndex=2;
            break;
        case "all" :
            document.getElementById('pagetype').selectedIndex=3;
            break;
        case "createpost" :
            document.getElementById('pagetype').selectedIndex=4;
            break;
        case "profile" :
            document.getElementById('pagetype').selectedIndex=5;
            break;
        default :
            document.getElementById('pagetype').selectedIndex=0;
    }

</script>




</body>
</html>
