<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="window.location='/posts/create'">Create Post</button>
    <button onclick="window.location='/posts/show'">Show Post</button>
    <button onclick="window.location='/comment/create'">Create Comment</button>
    <button onclick="window.location='/comment/read'">Show Comment</button>
    <button onclick="window.location='/subreddit/create'">Create Subreddit</button>

</body>
</html>