<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reddit- the front page of internet</title>
    <link rel="stylesheet" href="../static/css/indexstyle.css" th:href="@{/css/indexstyle.css}">
</head>
<body>
        <div id="navbar">

            <img id="redditlogo" src="https://redditmedia.s3.ap-south-1.amazonaws.com/NicePng_reddit-png_2342271.png" alt="reddit logo">
            <form th:action="@{/search}" method="post">
                <input  style="height : 35px; font-size : 20px; width : 700px; border-radius : 10px; border-width : 1px;" type="text" name="search" placeholder="Search">
                <button style="height : 35px; font-size : 20px; background-color : white;
                           border-width : 1px; border-radius : 10px;" class="btnn btn-default" type="submit">Search</button>
            </form>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <button th:onclick="window.location='/login'" style="height : 35px; font-size : 20px; background-color : white;
                           border-width : 1px; border-radius : 10px;" class="btnn">Login</button>
                <button th:onclick="window.location='/register'" style="height : 35px; font-size : 20px; background-color : white;
                            border-width : 1px; border-radius : 10px;" class="btnn">Signup</button>
            </div>

        </div>

        <div id="trending">
            <span style="font-size : 12px; margin-left : 15px; font-weight : bold">Trending today</span>
            <div >
                <section>
                    <img style="height : 200px; width : 240px; border-radius : 20px;" src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2020/05/21/Pictures/_037138a2-9b47-11ea-a010-c71373fc244b.jpg" alt="nothing">
                </section>
                <section>
                    <img style="height : 200px; width : 240px; border-radius : 20px;" src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2020/05/21/Pictures/_037138a2-9b47-11ea-a010-c71373fc244b.jpg" alt="nothing">
                </section>
                <section>
                    <img style="height : 200px; width : 240px; border-radius : 20px;" src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2020/05/21/Pictures/_037138a2-9b47-11ea-a010-c71373fc244b.jpg" alt="nothing">
                </section>
                <section>
                    <img style="height : 200px; width : 240px; border-radius : 20px;" src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2020/05/21/Pictures/_037138a2-9b47-11ea-a010-c71373fc244b.jpg" alt="nothing">
                </section>
            </div>
        </div>

        <span style="font-size : 12px; margin-left : 15px; font-weight : bold; margin-left : 18% ">Popular posts</span>

<div id="post-subreddit">
    <div id="posts" style="width : 68%;">
        <section id="sort-posts">
            <button class="btn btn-default">Hot</button>
            <button class="btn btn-default">New</button>
            <button class="btn btn-default">Top</button>
            <button class="btn btn-default">Rising</button>
        </section>
        <section id="post-content" style="margin-top : 10px">
            <div th:each=" post : ${posts}">

                <section id="textpost" th:if="${post.contentType == 'text'}">
                    <a th:href="@{/subreddit/community/?id={id}(id=${post.subreddit.id})}" style="text-decoration:none;">
                        <span th:text="${'r/'+post.subreddit.communityName}" style="font-size:15px;">Subreddit</span>
                    </a>
                    <span style="color:rgb(120, 124, 126); font-size:15px;">Posted by u/<span th:text="${post.user}">user</span>
                        <span th:text="${post.createdAt}" style="font-size:15px;"></span></span> <br>
                    <a th:href="@{/posts/read/?id={id}(id=${post.id})}" style="text-decoration: none; color : black;">
                        <span style="font-size : 22px"th:text="${post.title}">title</span><br>
                        <span style="font-size : 18px" th:text="${post.content}">content</span>
                    </a>
                </section>

                <section id="mediapost" th:if="${post.contentType == 'image'}">
                    <a th:href="@{/subreddit/community/?id={id}(id=${post.subreddit.id})}" style="text-decoration:none;">
                        <span th:text="${'r/'+post.subreddit.communityName}" style="font-size:15px;">Subreddit</span>
                    </a>
                    <span style="color:rgb(120, 124, 126); font-size:15px;">Posted by u/<span th:text="${post.user}">user</span>
                        <span th:text="${post.createdAt}" style="font-size:15px;"></span></span> <br>
                    <a th:href="@{/posts/read/?id={id}(id=${post.id})}" style="text-decoration: none; color : black;">
                        <span style="font-size : 22px;"th:text="${post.title}">title</span><br>
                    <img   style="width: 600px; height : 480px;"
                           src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2020/05/21/Pictures/_037138a2-9b47-11ea-a010-c71373fc244b.jpg"
                           th:src="@{https://redditmedia.s3.ap-south-1.amazonaws.com/{file} (file = ${post.content})}" th:alt="${post.content}" >
                    </a>
                </section>

                <section id="mediapost" th:if="${post.contentType == 'video'}">
                    <a th:href="@{/subreddit/community/?id={id}(id=${post.subreddit.id})}" style="text-decoration:none;">
                        <span th:text="${'r/'+post.subreddit.communityName}" style="font-size:15px;">Subreddit</span>
                    </a>
                    <span style="color:rgb(120, 124, 126); font-size:15px;">Posted by u/<span th:text="${post.user}">user</span>
                        <span th:text="${post.createdAt}" style="font-size:15px;"></span></span> <br>
                    <a th:href="@{/posts/read/?id={id}(id=${post.id})}" style="text-decoration: none; color : black;">
                        <span style="font-size : 22px" th:text="${post.title}">title</span><br>
                    <video controls style="width: 600px;">
                        <source
                                src="https://redditmedia.s3.ap-south-1.amazonaws.com/2020-09-03-153241.mp4"
                                th:src="@{https://redditmedia.s3.ap-south-1.amazonaws.com/{file} (file = ${post.content})}" type="video/mp4" >
                    </video>
                    </a>
                </section>

                <section id="linkpost" th:if="${post.contentType == 'link'}">
                    <a th:href="@{/subreddit/community/?id={id}(id=${post.subreddit.id})}" style="text-decoration:none;">
                        <span th:text="${'r/'+post.subreddit.communityName}" style="font-size:15px;">Subreddit</span>
                    </a>
                    <span style="color:rgb(120, 124, 126); font-size:15px;">Posted by u/<span th:text="${post.user}">user</span>
                        <span th:text="${post.createdAt}" style="font-size:15px;"></span></span> <br>
                    <a th:href="@{/posts/read/?id={id}(id=${post.id})}" style="text-decoration: none; color : black;">
                        <span style="font-size : 22px" th:text="${post.title}">title</span><br>
                        <a th:href="@{${post.content}}"><span style="font-size : 18px" th:text="${post.content}"></span></a>
                    </a>
                </section>

                <button th:unless="${post.isVoted && post.isUpVote}" ><a th:href="@{/posts/{postid}/vote?upvote=true (postid = ${post.id})}">Up-vote</a></button>
                <button th:if="${post.isVoted && post.isUpVote}" ><a th:href="@{/posts/{postid}/unvote (postid = ${post.id})}">Up-voted</a></button>


                <span style="font-size : 14px" th:text="${post.upVoteCount} - ${post.downVoteCount} > 0 ? ${post.upVoteCount} - ${post.downVoteCount} : 0"></span>


                <button th:unless="${post.isVoted && post.isUpVote == false}" ><a th:href="@{/posts/{postid}/vote?upvote=false (postid = ${post.id})}">Down-vote</a></button>
                <button th:if="${post.isVoted && post.isUpVote == false}" ><a th:href="@{/posts/{postid}/unvote (postid = ${post.id})}">Down-voted</a></button>

                <button th:unless="${post.isSaved}" ><a th:href="@{/posts/{postid}/save (postid = ${post.id})}">save</a></button>
                <button th:if="${post.isSaved}" ><a th:href="@{/posts/{postid}/unsave (postid = ${post.id})}">unsave</a></button>

                <button th:if="${post.user.userName} == ${#authentication.name}"><a th:href="@{/posts/delete (postid = ${post.id})}">Delete</a></button>

                <button th:unless="${post.isJoined}" ><a th:href="@{/subreddit/join (subredditid = ${post.subreddit.id})}">join</a></button>
                <button th:if="${post.isJoined}" ><a th:href="@{/subreddit/unjoin (subredditid = ${post.subreddit.id})}">unjoin</a></button>


            </div>

            <span th:unless="${posts}" style="margin-left : 160px; font-size : 20px;">Please join some communities</span>

        </section>
    </div>

            <div id="subreddits" style="width : 33%;">

                <section >

                    <span style="font-size : 15px; ">Top Trending Communities</span>
                    <div th:each="subreddit : ${growingreddits}">
                        <a th:href="@{/subreddit/community/?id={id}(id=${subreddit.id})}" style="text-decoration:none;">
                            <span  th:text="${'r/' + subreddit.communityName}" style="font-size : 15px;">first sub</span>
                        </a>
                    </div>

                </section>
            </div>

        </div>

<script>
    function goTo(sort){
        if(cururl.split("/")[1] == 'profile' && cururl.split("/").length > 2 ) {

            window.location = '../profile/' + cururl.split("/")[2] + '?sort=' + sort;

        } else if ( cururl.split("/")[1] == 'profile' ){

            window.location = 'profile?sort=' + sort;

        } else if ( cururl.split("/").length < 3 && sort != 'hot' && cururl.split("/")[1] != 'all' ) {

            window.location = '/' + sort;

        } else if ( cururl.split("/").length < 3 && sort != 'hot') {

            window.location = cururl.split("/")[1] + "/" + sort;

        } else if(sort == 'hot' && cururl.split("/")[1] != 'all') {

            window.location = "/";

        }  else if (sort == 'hot') {

            window.location = '/all';

        } else {

        window.location = sort;

        }
    }
</script>

</body>
</html>