<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reddit the fromt page of the internet</title>
    <link rel="stylesheet" href="../static/css/profilestyle.css" th:href="@{/css/profilestyle.css}">

</head>
<body>
    <div id="navbar">

        <img id="redditlogo" src="https://redditmedia.s3.ap-south-1.amazonaws.com/NicePng_reddit-png_2342271.png" alt="reddit logo">
        <select name="page" onchange="location = this.value;">
            <option  value="/" selected>Home</option>
            <option value="popular">Popular</option>
            <option value="all">All</option>
            <option value="Communities">Top Communities</option>
            <option value="posts/create">Create Post</option>
        </select>
        <form th:action="@{#}" href="#" >
            <input  style="height : 30px; font-size : 20px; width : 500px; border-radius : 6px;" type="text">
            <button class="btn btn-default" style="height : 40px; font-size : 20px" type="submit">Search</button>
        </form>
        <div style="margin-right : 100px;">
            <button class="nav-btn">ALL</button>
            <button class="nav-btn">TOP</button>
            <BUTTON class="nav-btn">POP</BUTTON>
            <button class="nav-btn">CP</button>
        </div>
        <span id="profile" sec:authorize="isAuthenticated()" style="margin-right : 90px;">
                      <a sec:authentication="name">YOU</a>
                      <ul>
                         <li ><a th:href="@{/profile/?sort=createdat}">Profile</a></li>
                         <li><a th:href="@{/logout}">Logout</a></li>
                      </ul>
        </span>

    </div>

    <div id="usernavigation">

        <section>
            <button class="btn">OVERVIEW</button>
            <button class="btn">POSTS</button>
            <button class="btn">COMMENTS</button>
            <button class="btn">SAVED</button>
            <button class="btn">HIDDEN</button>
            <button class="btn">UPVOTED</button>
            <button class="btn">DOWNVOTED</button>
        </section>

    </div>

    <div id="post-subreddit">
        <div id="posts" style="width : 65.5%;">
            <section id="sort-posts">
                <button th:onclick="goTo('all')" class="btn btn-default" >Hot</button>
                <button th:onclick="goTo('new')" class="btn btn-default" >New</button>
                <button th:onclick="goTo('top')" class="btn btn-default" >Top</button>
                <button th:onclick="goTo('best')" class="btn btn-default" >Best</button>
                <button style="width : 150px" class="btn btn-default" onclick="window.location='/posts/create'">Create Post</button>
            </section>
            <section id="post-content" style="margin-top : 10px">
                <div th:each=" post : ${posts}">

                    <section id="textpost" th:if="${post.contentType == 'text'}">
                        <span style="font-size : 14px;" th:text="${post.user}">user</span><br>
                        <span style="font-size : 22px"th:text="${post.title}">title</span><br>
                        <span style="font-size : 18px" th:text="${post.content}">content</span>
                    </section>

                    <section id="mediapost" th:if="${post.contentType == 'image'}">
                        <span style="font-size : 14px" th:text="${post.user}">user</span><br>
                        <span style="font-size : 22px;"th:text="${post.title}">title</span><br>
                        <img   style="width: 600px; height : 480px;"
                               src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2020/05/21/Pictures/_037138a2-9b47-11ea-a010-c71373fc244b.jpg"
                               th:src="@{https://redditmedia.s3.ap-south-1.amazonaws.com/{file} (file = ${post.content})}" th:alt="${post.content}" >
                    </section>

                    <section id="mediapost" th:if="${post.contentType == 'video'}">
                        <span style="font-size : 14px" th:text="${post.user}">user</span><br>
                        <span style="font-size : 22px" th:text="${post.title}">title</span><br>
                        <video controls style="width: 600px;">
                            <source
                                    src="https://redditmedia.s3.ap-south-1.amazonaws.com/2020-09-03-153241.mp4"
                                    th:src="@{https://redditmedia.s3.ap-south-1.amazonaws.com/{file} (file = ${post.content})}" type="video/mp4" >
                        </video>
                    </section>

                    <section id="textpost" th:if="${post.contentType == 'link'}">
                        <span style="font-size : 14px" th:text="${post.user}">user</span><br>
                        <span style="font-size : 22px" th:text="${post.title}">title</span><br>
                        <a th:href="@{${post.content}}"><span style="font-size : 18px" th:text="${post.content}"></span></a>
                    </section>

                    <button th:unless="${post.isVoted && post.isUpVote}" sec:authorize="isAuthenticated()"><a th:href="@{/posts/{postid}/vote?upvote=true (postid = ${post.id})}">Up-vote</a></button>
                    <button th:if="${post.isVoted && post.isUpVote}" sec:authorize="isAuthenticated()"><a th:href="@{/posts/{postid}/unvote (postid = ${post.id})}">Up-voted</a></button>


                    <span style="font-size : 14px" th:text="${post.upVoteCount} - ${post.downVoteCount} > 0 ? ${post.upVoteCount} - ${post.downVoteCount} : 0"></span>


                    <button th:unless="${post.isVoted && post.isUpVote == false}" sec:authorize="isAuthenticated()"><a th:href="@{/posts/{postid}/vote?upvote=false (postid = ${post.id})}">Down-vote</a></button>
                    <button th:if="${post.isVoted && post.isUpVote == false}" sec:authorize="isAuthenticated()"><a th:href="@{/posts/{postid}/unvote (postid = ${post.id})}">Down-voted</a></button>

                </div>

                <span th:unless="${posts}" style="margin-left : 160px; font-size : 20px;">Please join some communities</span>

            </section>
        </div>

        <div id="subreddits" style="width : 33%;">

            <section >
                <span sec:authentication="name">YOU</span>
                <button th:onclick="window.location='../posts/create'">New Post</button>
            </section>

            <section th:unless="${param.profile}">

                <span style="font-size : 15px; ">Todya's Top Growing Communities</span>

                <a href="#">1    firstsub</a><br>
                <a href="#">2    secondsub</a><br>
                <a href="#">3    thirdsub</a><br>
                <a href="#">4    fourthsub</a><br>
                <a href="#">5    fifthsub</a><br>
                <button >View All</button>
            </section>

            <br>
            <br>

            <section th:unless="${param.profile}">
                <span style="font-size : 15px; ">Top Trending Communities</span>

                <a href="#">1    firstsub</a><br>
                <a href="#">2    secondsub</a><br>
                <a href="#">3    thirdsub</a><br>
                <a href="#">4    fourthsub</a><br>
                <a href="#">5    fifthsub</a><br>
                <button >View All</button>
            </section>

        </div>

        <div id="username">

        </div>

    </div>

    <span id="cururl" th:text="${#httpServletRequest.requestURI}"></span>

<script>

    var cururl = document.getElementById("cururl").innerHTML;
    function goTo(sort){
        if(cururl.split("/").length < 3){
            window.location = "all/" + sort;
        } else if(sort == 'all') {
            window.location = "/all";
        } else {
            window.location = sort;
        }
    }

</script>

</body>
</html>