<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reddit the fromt page of the internet</title>
    <link rel="stylesheet" href="../static/css/profilestyle.css" th:href="@{/css/profilestyle.css}">

</head>
<body>
    <div id="navbar">

        <img id="redditlogo" src="https://redditmedia.s3.ap-south-1.amazonaws.com/NicePng_reddit-png_2342271.png" alt="reddit logo">
        <select id="pagetype" name="pagetype" onchange="location = this.value;">
            <option  value="/" selected>Home</option>
            <option value="../popular">Popular</option>
            <option value="../all">All</option>
            <option value="../Communities">Top Communities</option>
            <option value="../posts/create">Create Post</option>
            <option value="../profile?sort=createdat">Profile</option>
        </select>
        <form th:action="@{#}" href="#" >
            <input  style="height : 30px; font-size : 20px; width : 500px; border-radius : 6px;" type="text">
            <button class="searchbtn" style="height : 40px; font-size : 20px" type="submit">Search</button>
        </form>
        <div style="margin-right : 100px;">
            <button th:onclick="window.location='/all'" class="nav-btn">ALL</button>
            <button th:onclick="window.location='/popular'" class="nav-btn">TOP</button>
            <BUTTON th:onclick="window.location='/Communities'" class="nav-btn">POPC</BUTTON>
            <button th:onclick="window.location='/posts/create'" class="nav-btn">CP</button>
        </div>
        <span id="profile" sec:authorize="isAuthenticated()" style="margin-right : 90px;">
                      <a sec:authentication="name">YOU</a>
                      <ul>
                         <li ><a th:href="@{/profile?sort=createdat}">Profile</a></li>
                         <li><a th:href="@{/logout}">Logout</a></li>
                      </ul>
        </span>

    </div>

    <div id="usernavigation">

        <section>
            <button th:onclick="window.location='/profile'" class="searchbtn">POSTS</button>
            <button th:onclick="window.location='/profile/comments'" class="searchbtn">COMMENTS</button>
            <button th:onclick="window.location='/profile/saved'" class="searchbtn">SAVED</button>
            <button th:onclick="window.location='/profile/upvoted'" class="searchbtn">UPVOTED</button>
            <button th:onclick="window.location='/profile/downvoted'" class="searchbtn">DOWNVOTED</button>
        </section>

    </div>

    <div id="post-subreddit">
        <div id="posts" style="width : 65.5%;">
            <section id="sort-posts">
                <button th:onclick="goTo('hot')" class="btn btn-default" >Hot</button>
                <button th:onclick="goTo('new')" class="btn btn-default" >New</button>
                <button th:onclick="goTo('top')" class="btn btn-default" >Top</button>
                <button th:onclick="goTo('best')" class="btn btn-default" >Best</button>
                <button style="width : 150px" class="btn btn-default" th:onclick="window.location='/posts/create'">Create Post</button>
            </section>
            <section id="post-content" style="margin-top : 10px">
                <div th:each=" post : ${posts}">

                    <section id="textpost" th:if="${post.contentType == 'text'}">
                        <a th:href="@{/subreddit/community/?id={id}(id=${post.subreddit.id})}" style="text-decoration:none;">
                            <span th:text="${'r/'+post.subreddit.communityName}" style="font-size:15px;">Subreddit</span>
                        </a>
                        <span style="color:rgb(120, 124, 126); font-size:15px;">Posted by u/<span th:text="${post.user}">user</span>
                        <span th:text="${post.createdAt}" style="font-size:15px;"></span></span> <br>
                        <a th:href="@{/posts/read/?id={id}(id=${post.id})}" style="text-decoration: none; color : black;">
                            <span style="font-size : 22px"th:text="${post.title}">title</span><br>
                            <span style="font-size : 18px" th:text="${post.content}">content</span>
                        </a>
                    </section>

                    <section id="mediapost" th:if="${post.contentType == 'image'}">
                        <a th:href="@{/subreddit/community/?id={id}(id=${post.subreddit.id})}" style="text-decoration:none;">
                            <span th:text="${'r/'+post.subreddit.communityName}" style="font-size:15px;">Subreddit</span>
                        </a>
                        <span style="color:rgb(120, 124, 126); font-size:15px;">Posted by u/<span th:text="${post.user}">user</span>
                        <span th:text="${post.createdAt}" style="font-size:15px;"></span></span> <br>
                        <a th:href="@{/posts/read/?id={id}(id=${post.id})}" style="text-decoration: none; color : black;">
                            <span style="font-size : 22px;"th:text="${post.title}">title</span><br>
                            <img   style="width: 600px; height : 480px;"
                                   src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2020/05/21/Pictures/_037138a2-9b47-11ea-a010-c71373fc244b.jpg"
                                   th:src="@{https://redditmedia.s3.ap-south-1.amazonaws.com/{file} (file = ${post.content})}" th:alt="${post.content}" >
                        </a>
                    </section>

                    <section id="mediapost" th:if="${post.contentType == 'video'}">
                        <a th:href="@{/subreddit/community/?id={id}(id=${post.subreddit.id})}" style="text-decoration:none;">
                            <span th:text="${'r/'+post.subreddit.communityName}" style="font-size:15px;">Subreddit</span>
                        </a>
                        <span style="color:rgb(120, 124, 126); font-size:15px;">Posted by u/<span th:text="${post.user}">user</span>
                        <span th:text="${post.createdAt}" style="font-size:15px;"></span></span> <br>
                        <a th:href="@{/posts/read/?id={id}(id=${post.id})}" style="text-decoration: none; color : black;">
                            <span style="font-size : 22px" th:text="${post.title}">title</span><br>
                            <video controls style="width: 600px;">
                                <source
                                        src="https://redditmedia.s3.ap-south-1.amazonaws.com/2020-09-03-153241.mp4"
                                        th:src="@{https://redditmedia.s3.ap-south-1.amazonaws.com/{file} (file = ${post.content})}" type="video/mp4" >
                            </video>
                        </a>
                    </section>

                    <section id="linkpost" th:if="${post.contentType == 'link'}">
                        <a th:href="@{/subreddit/community/?id={id}(id=${post.subreddit.id})}" style="text-decoration:none;">
                            <span th:text="${'r/'+post.subreddit.communityName}" style="font-size:15px;">Subreddit</span>
                        </a>
                        <span style="color:rgb(120, 124, 126); font-size:15px;">Posted by u/<span th:text="${post.user}">user</span>
                        <span th:text="${post.createdAt}" style="font-size:15px;"></span></span> <br>
                        <a th:href="@{/posts/read/?id={id}(id=${post.id})}" style="text-decoration: none; color : black;">
                            <span style="font-size : 22px" th:text="${post.title}">title</span><br>
                            <a th:href="@{${post.content}}"><span style="font-size : 18px" th:text="${post.content}"></span></a>
                        </a>
                    </section>

                    <button th:unless="${post.isVoted && post.isUpVote}" ><a th:href="@{/posts/{postid}/vote?upvote=true (postid = ${post.id})}">Up-vote</a></button>
                    <button th:if="${post.isVoted && post.isUpVote}" ><a th:href="@{/posts/{postid}/unvote (postid = ${post.id})}">Up-voted</a></button>


                    <span style="font-size : 14px" th:text="${post.upVoteCount} - ${post.downVoteCount} > 0 ? ${post.upVoteCount} - ${post.downVoteCount} : 0"></span>


                    <button th:unless="${post.isVoted && post.isUpVote == false}" ><a th:href="@{/posts/{postid}/vote?upvote=false (postid = ${post.id})}">Down-vote</a></button>
                    <button th:if="${post.isVoted && post.isUpVote == false}" ><a th:href="@{/posts/{postid}/unvote (postid = ${post.id})}">Down-voted</a></button>

                    <button th:unless="${post.isSaved}" ><a th:href="@{/posts/{postid}/save (postid = ${post.id})}">save</a></button>
                    <button th:if="${post.isSaved}" ><a th:href="@{/posts/{postid}/unsave (postid = ${post.id})}">unsave</a></button>

                    <button th:if="${post.user.userName} == ${#authentication.name}"><a th:href="@{/posts/delete (postid = ${post.id})}">Delete</a></button>

                    <button th:unless="${post.isJoined}" ><a th:href="@{/subreddit/join (subredditid = ${post.subreddit.id})}">join</a></button>
                    <button th:if="${post.isJoined}" ><a th:href="@{/subreddit/unjoin (subredditid = ${post.subreddit.id})}">unjoin</a></button>


                </div>

                <span th:unless="${posts}" style="margin-left : 160px; font-size : 20px;">Please join some communities</span>

            </section>
        </div>

        <div id="subreddits" style="width : 33%;">

            <section >
                <span sec:authentication="name">YOU</span>
                <button th:onclick="window.location='../posts/create'">New Post</button>
            </section>

            <section th:unless="${param.profile}">

                <span style="font-size : 15px; ">Todya's Top Growing Communities</span>

                <a href="#">1    firstsub</a><br>
                <a href="#">2    secondsub</a><br>
                <a href="#">3    thirdsub</a><br>
                <a href="#">4    fourthsub</a><br>
                <a href="#">5    fifthsub</a><br>
                <button >View All</button>
            </section>

            <br>
            <br>

            <section th:unless="${param.profile}">
                <span style="font-size : 15px; ">Top Trending Communities</span>

                <a href="#">1    firstsub</a><br>
                <a href="#">2    secondsub</a><br>
                <a href="#">3    thirdsub</a><br>
                <a href="#">4    fourthsub</a><br>
                <a href="#">5    fifthsub</a><br>
                <button >View All</button>
            </section>

        </div>

        <div id="username">

        </div>

    </div>

    <span id="cururl" th:text="${#httpServletRequest.requestURI}" ></span>

    <!--    <span th:text="${#httpServletRequest.requestURI} + "-" + ${#httpServletRequest.queryString}"></span>-->
<script>
    var cururl = document.getElementById("cururl").innerHTML;

    switch (cururl.split("/")[1]) {
        case "home" :
            document.getElementById('pagetype').selectedIndex=0;
            break;
        case "popular" :
            document.getElementById('pagetype').selectedIndex=1;
            break;
        case "topcommunities" :
            document.getElementById('pagetype').selectedIndex=3;
            break;
        case "all" :
            document.getElementById('pagetype').selectedIndex=2;
            break;
        case "posts" :
            document.getElementById('pagetype').selectedIndex=4;
            break;
        case "profile" :
            document.getElementById('pagetype').selectedIndex=5;
            break;
        case "subreddit" :
            document.getElementById('pagetype').selectedIndex=4;
            break;
        default :
            document.getElementById('pagetype').selectedIndex=0;
    }

    function goTo(sort){
        if(cururl.split("/")[1] == 'profile' && cururl.split("/").length > 2 ) {

            window.location = '../profile/' + cururl.split("/")[2] + '?sort=' + sort;

        } else if ( cururl.split("/")[1] == 'profile' ){

            window.location = 'profile?sort=' + sort;

        } else if ( cururl.split("/").length < 3 && sort != 'hot' && cururl.split("/")[1] != 'all' ) {

            window.location = '/' + sort;

        } else if ( cururl.split("/").length < 3 && sort != 'hot') {

            window.location = cururl.split("/")[1] + "/" + sort;

        } else if(sort == 'hot' && cururl.split("/")[1] != 'all') {

            window.location = "/";

        }  else if (sort == 'hot') {

            window.location = '/all';

        } else {

        window.location = sort;

        }
    }

</script>

</body>
</html>