<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
    width:40%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}

    </style>
</head>
<body>


        <div th:each=" post : ${posts}">



            <div th:if="${post.contentType == 'text'}">
                <h2 th:text="${post.title}"></h2><br>
                <p th:text="${post.content}"></p>
            </div>
            <div th:if="${post.contentType == 'image'}">
                <span th:text="${post.title}"></span><br>
                <img th:src="@{https://redditmedia.s3.ap-south-1.amazonaws.com/{file} (file = ${post.content})}" th:alt="${post.content}" style="width:304px;height:228px">
            </div>
            <div th:if="${post.contentType == 'video'}">
                <span th:text="${post.title}"></span><br>
                <video style="width:304px;height:228px" controls>
                    <source th:src="@{https://redditmedia.s3.ap-south-1.amazonaws.com/{file} (file = ${post.content})}" type="video/mp4" >
                </video>
            </div>
            <div th:if="${post.contentType == 'link'}">
                <span th:text="${post.title}"></span><br>
                <a th:href="@{${post.content}}"><span th:text="${post.content}"></span></a>
            </div>


            <div id="respond">

                <h3>Leave a Comment</h3>

                <form th:action="@{/comment/create}" method="post" >

                    <label  class="required">Your message</label>
                    <textarea name="comment"  rows="8" tabindex="4"  required="required"></textarea>
                    <input type="hidden" th:value="${post.id}"  name="postId" />
                    <input name="submit" type="submit" value="Submit comment" />

                </form>

            </div>
            <div th:each="items : ${comments}">
                <p th:if="${items.post.id == post.id}" th:text="${items.text}">

                </p>

            </div>
            <button>Reply</button>



            <hr>
        </div>






</body>
</html>