<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <h1>posts</h1>
        <div th:each=" post : ${posts}">

            <div th:if="${post.contentType == 'text'}">
                <span th:text="${post.user}"></span><br>
                <span th:text="${post.title}"></span><br>
                <span th:text="${post.content}"></span>
            </div>
            <div th:if="${post.contentType == 'image'}">
                <span th:text="${post.user}"></span><br>
                <span th:text="${post.title}"></span><br>
                <img th:src="@{https://redditmedia.s3.ap-south-1.amazonaws.com/{file} (file = ${post.content})}" th:alt="${post.content}" style="width:304px;height:228px">
            </div>
            <div th:if="${post.contentType == 'video'}">
                <span th:text="${post.user}"></span><br>
                <span th:text="${post.title}"></span><br>
                <video style="width:304px;height:228px" controls>
                    <source th:src="@{https://redditmedia.s3.ap-south-1.amazonaws.com/{file} (file = ${post.content})}" type="video/mp4" >
                </video>
            </div>
            <div th:if="${post.contentType == 'link'}">
                <span th:text="${post.user}"></span><br>
                <span th:text="${post.title}"></span><br>
                <a th:href="@{${post.content}}"><span th:text="${post.content}"></span></a>
            </div>


            <button th:unless="${post.isVoted && post.isUpVote}"><a th:href="@{/posts/{postid}/vote?upvote=true (postid = ${post.id})}">Up-vote</a></button>
            <button th:if="${post.isVoted && post.isUpVote}"><a th:href="@{/posts/{postid}/unvote (postid = ${post.id})}">Up-voted</a></button>

            <span th:text="${post.upVoteCount} - ${post.downVoteCount} > 0 ? ${post.upVoteCount} - ${post.downVoteCount} : 0"></span>

            <button th:unless="${post.isVoted && post.isUpVote == false}"><a th:href="@{/posts/{postid}/vote?upvote=false (postid = ${post.id})}">Down-vote</a></button>
            <button th:if="${post.isVoted && post.isUpVote == false}"><a th:href="@{/posts/{postid}/unvote (postid = ${post.id})}">Down-voted</a></button>

            <hr>
        </div>


</body>
</html>